.actionButton {
  position: relative;
  top: 0px;
  padding: 0 16px;
  height: 46px;
  border: 2px solid #b1b4c1;
  border-radius: 6px;
  color: #b1b4c1;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
  outline: none;
  transition: all .3s;

  &:hover {
    top: -2px;
    border-color: #f81f02;
    background-color: #f81f02;
    color: white;
  }

  &:active {
    box-shadow: #fec0b8 0px 0px 6px;
    transition: all 0s;
  }
}
